body {
   padding:0;
    background-color: black;
}

.navbar-custom {
    background: #023047;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: white !important;
}

    .nav-link:hover {
        color: #ffb703 !important;
    }



.footer {
    background: #023047;
    color: white;
    padding: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
  
}



