body {
   
    background-color: black;
}

.navbar-custom {
    background: #023047;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: white !important;
}

    .nav-link:hover {
        color: #ffb703 !important;
    }



.footer {
    background: #023047;
    display:flex;
    padding: 30px;
    position: absolute;
    
    width: 100%;
  
  
}



