@model RotaDoViajante.Models.Guia
@{
    ViewData["Title"] = "Cadastro Guia";
}

<h2>Cadastro Guia</h2>

<form asp-controller="Guia" asp-action="SalvarGuia">

    <div class="mb-3">
        <label asp-for="NomeGuia">Nome</label>
        <input asp-for="NomeGuia" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="CPFGuia">CPF</label>
        <input asp-for="CPFGuia" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ExperienciaGuia">Experiência</label>
        <input asp-for="ExperienciaGuia" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="EmailGuia">Email</label>
        <input asp-for="EmailGuia" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="TelefoneGuia">Telefone</label>
        <input asp-for="TelefoneGuia" class="form-control" />
    </div>

    <button class="btn btn-success">Salvar</button>

</form>