@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<section class="hero">

    <div class="hero-overlay">

        <div class="container text-center text-white">

            <h1 class="display-3 fw-bold">

                Explore Santa Fé do Sul

            </h1>

            <p class="lead">

                Encontre Sua Própia Rota.

            </p>

            <a asp-controller="Passeio"
               asp-action="Index"
               class="btn btn-warning btn-lg">

                Explorar Passeios

            </a>

        </div>

    </div>

</section>

