<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RotaDoViajante</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RotaDoViajante.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <h1>Sistema</h1>
        <a href="/Listar/ListExcluUsuario.html">Usuários</a>
        <a href="Editar/EdiGuia.html">Guias</a>
        <a href="Listar/ListPasseio.html">Passeios</a>
        <a href="Listar/ListPonto.html">Pontos</a>
    </div>

    <!-- Conteúdo -->
    <div class="main">

        <h2 class="title">Cadastro de Usuário</h2>

        <div class="card">
            <form>

                <div class="form-group">
                    <label>Nome</label>
                    <input type="text">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email">
                </div>

                <div class="form-group">
                    <label>Telefone</label>
                    <input type="number">
                </div>

                <div class="form-group">
                    <label>Senha</label>
                    <input type="password">
                </div>

                <div class="form-group">
                    <label>Tipo Usuário</label>
                    <select>
                        <option>Admin</option>
                        <option>Prefeitura</option>
                    </select>
                </div>

                <button>Salvar</button>

            </form>
        </body>
    </html>