body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #14532d;
    color: white;
    padding: 20px;
}

    .sidebar h1 {
        margin-bottom: 20px;
    }

    .sidebar a {
        display: block;
        padding: 10px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
    }

        .sidebar a:hover {
            background: #374151;
        }

/* Conteúdo */
.main {
    flex: 1;
    padding: 40px;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Card */
.card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 500px;
}

/* Form */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #374151;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

    input:focus, select:focus {
        border-color: #3b82f6;
    }

/* Botão */
button {
    width: 100%;
    background: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

    button:hover {
        background: #1d4ed8;
    }
